
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_back */
#CRUNCHBASE_serviceProviderInfo_mobilebutton_back {

}
.ui-btn.CRUNCHBASE_serviceProviderInfo_mobilebutton_back {

}
/* mobilebutton_home */
#CRUNCHBASE_serviceProviderInfo_mobilebutton_home {

}
.ui-btn.CRUNCHBASE_serviceProviderInfo_mobilebutton_home {

}
/* mobilecontainer */
.ui-content.CRUNCHBASE_serviceProviderInfo_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_nameAndImage */
.CRUNCHBASE_serviceProviderInfo_mobilegrid_nameAndImage {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.CRUNCHBASE_serviceProviderInfo_mobilegrid_nameAndImage > tr > td {
	vertical-align: top;
}
.CRUNCHBASE_serviceProviderInfo_mobilegrid_nameAndImage_row_0, .CRUNCHBASE_serviceProviderInfo_mobilegrid_nameAndImage_row_0 > td {
	height: 30px
}
/* mobilegridcell_name */
.CRUNCHBASE_serviceProviderInfo_mobilegridcell_name {
	height:30px !important;
	width:125px;
	padding: 2px 2px 2px 2px;
}
.CRUNCHBASE_serviceProviderInfo_mobilegridcell_name > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelink_name */
.CRUNCHBASE_serviceProviderInfo_mobilelink_name {
	margin: 4px 4px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.CRUNCHBASE_serviceProviderInfo_mobilelink_name_link_wrapper > .CRUNCHBASE_serviceProviderInfo_mobilelink_name,
.CRUNCHBASE_serviceProviderInfo_mobilelink_name_link_wrapper > .CRUNCHBASE_serviceProviderInfo_mobilelink_name:hover,
.CRUNCHBASE_serviceProviderInfo_mobilelink_name_link_wrapper > .CRUNCHBASE_serviceProviderInfo_mobilelink_name:active,
.CRUNCHBASE_serviceProviderInfo_mobilelink_name_link_wrapper > .CRUNCHBASE_serviceProviderInfo_mobilelink_name:visited {
	font-weight: normal; font-style: italic; text-align: right; font-size: 20px;
}
/* mobilegridcell_image */
.CRUNCHBASE_serviceProviderInfo_mobilegridcell_image {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.CRUNCHBASE_serviceProviderInfo_mobilegridcell_image > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_serviceProvider */
.CRUNCHBASE_serviceProviderInfo_mobileimage_serviceProvider {
	margin: 4px 0px 4px 4px;
	width: 120px; height: 100px;
	display: block;
	display: none;
}
/* mobilelabel_permalink */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_permalink {
	font-weight: normal;
	margin: 4px 8px 4px 8px;
	display: none;
	word-wrap: break-word;
}
/* mobilecollapsibleset_serviceProvInfo */
.CRUNCHBASE_serviceProviderInfo_mobilecollapsibleset_serviceProvInfo {
	margin: 8px 5px 8px 5px;
	display: none;
}
/* mobilecollapsblock_overview */
.CRUNCHBASE_serviceProviderInfo_mobilecollapsblock_overview {

}
.CRUNCHBASE_serviceProviderInfo_mobilecollapsblock_overview .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_overviewText */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_overviewText {
	font-weight: normal; text-align: center; font-size: 20px;
	margin: 14px 0px 14px 0px;
	word-wrap: break-word;
}
/* mobilelabel_noInformationOverview */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_noInformationOverview {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilelabel_overview */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_overview {
	font-weight: normal;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilelabel_contactsText */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_contactsText {
	font-weight: normal; text-align: center; font-size: 20px;
	margin: 14px 0px 14px 0px;
	word-wrap: break-word;
}
/* mobilelabel_noInformationContacts */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_noInformationContacts {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilelabel_phoneNumber */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_phoneNumber {
	font-weight: normal;
	margin: 4px 8px 4px 8px;
	display: none;
	word-wrap: break-word;
}
/* mobilelabel_emailAddress */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_emailAddress {
	font-weight: normal;
	margin: 4px 8px 4px 8px;
	display: none;
	word-wrap: break-word;
}
/* mobilecollapsblock_providerships */
.CRUNCHBASE_serviceProviderInfo_mobilecollapsblock_providerships {

}
.CRUNCHBASE_serviceProviderInfo_mobilecollapsblock_providerships .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_noInformationProviderships */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_noInformationProviderships {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilelist_providerships */
.ui-page .CRUNCHBASE_serviceProviderInfo_mobilelist_providerships {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_firm */
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_serviceProviderInfo_mobilelistitem_firm {
	padding: 5px 0px 6px 0px;
	padding-right: 30px; /* consider extra icon */
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_serviceProviderInfo_mobilelistitem_firm span.ui-icon.extra {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_serviceProviderInfo_mobilelistitem_firm[data-icon="false"] span.ui-icon.extra {
	display: none;
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_serviceProviderInfo_mobilelistitem_firm[data-icon="false"] {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_23 */
.CRUNCHBASE_serviceProviderInfo_mobilelistitembutton_23 {

}
/* mobilelabel_titleProviderships */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_titleProviderships {
	font-weight: normal;
	margin: 10px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_isPast */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_isPast {
	font-weight: normal; font-size: 14px;
	margin: 4px 0px 4px 20px;
	display: none;
	word-wrap: break-word;
}
/* mobilelabel_firmName */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_firmName {
	font-weight: normal;
	margin: 12px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_firmPermalink */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_firmPermalink {
	font-weight: normal;
	margin: 4px 0px 4px 12px;
	display: none;
	word-wrap: break-word;
}
/* mobilelabel_typeOfEntity */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_typeOfEntity {
	font-weight: normal;
	margin: 4px 0px 4px 12px;
	display: none;
	word-wrap: break-word;
}
/* mobilelabel_loadingText */
.CRUNCHBASE_serviceProviderInfo_mobilelabel_loadingText {
	font-weight: normal; text-align: center;
	margin: 120px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilebutton_retry */
#CRUNCHBASE_serviceProviderInfo_mobilebutton_retry {

}
.ui-btn.CRUNCHBASE_serviceProviderInfo_mobilebutton_retry {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.CRUNCHBASE_serviceProviderInfo_mobilefooter {
	min-height:38px;
}