
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_home */
#CRUNCHBASE_officesList_mobilebutton_home {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_home {

}
/* mobilebutton_back */
#CRUNCHBASE_officesList_mobilebutton_back {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_back {

}
/* mobilecontainer */
.ui-content.CRUNCHBASE_officesList_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_nameAndImage */
.CRUNCHBASE_officesList_mobilegrid_nameAndImage {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.CRUNCHBASE_officesList_mobilegrid_nameAndImage > tr > td {
	vertical-align: top;
}
.CRUNCHBASE_officesList_mobilegrid_nameAndImage_row_0, .CRUNCHBASE_officesList_mobilegrid_nameAndImage_row_0 > td {
	height: 30px
}
/* mobilegridcell_name */
.CRUNCHBASE_officesList_mobilegridcell_name {
	height:30px !important;
	width:125px;
	padding: 2px 2px 2px 2px;
}
.CRUNCHBASE_officesList_mobilegridcell_name > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelink_companyName */
.CRUNCHBASE_officesList_mobilelink_companyName {
	margin: 4px 4px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.CRUNCHBASE_officesList_mobilelink_companyName_link_wrapper > .CRUNCHBASE_officesList_mobilelink_companyName,
.CRUNCHBASE_officesList_mobilelink_companyName_link_wrapper > .CRUNCHBASE_officesList_mobilelink_companyName:hover,
.CRUNCHBASE_officesList_mobilelink_companyName_link_wrapper > .CRUNCHBASE_officesList_mobilelink_companyName:active,
.CRUNCHBASE_officesList_mobilelink_companyName_link_wrapper > .CRUNCHBASE_officesList_mobilelink_companyName:visited {
	font-weight: normal; font-style: italic; text-align: right; font-size: 20px;
}
/* mobilegridcell_image */
.CRUNCHBASE_officesList_mobilegridcell_image {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.CRUNCHBASE_officesList_mobilegridcell_image > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_company */
.CRUNCHBASE_officesList_mobileimage_company {
	margin: 4px 0px 4px 5px;
	width: 120px; height: 100px;
	display: block;
}
/* mobilelabel_category */
.CRUNCHBASE_officesList_mobilelabel_category {
	font-weight: normal;
	margin: 4px 8px 4px 8px;
	word-wrap: break-word;
}
/* mobilelabel_descriptionCompany */
.CRUNCHBASE_officesList_mobilelabel_descriptionCompany {
	font-weight: normal;
	margin: 4px 8px 8px 8px;
	word-wrap: break-word;
}
/* mobilegroupedbuttons_companyInfo */
.ui-controlgroup.CRUNCHBASE_officesList_mobilegroupedbuttons_companyInfo {
	margin: 10px 5px 15px 5px;
}
.ui-controlgroup.CRUNCHBASE_officesList_mobilegroupedbuttons_companyInfo .ui-btn {
	margin: 0 -1px 0 0;
}
/* mobilebutton_Overview */
#CRUNCHBASE_officesList_mobilebutton_Overview {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_Overview {

}
/* mobilebutton_Offices */
#CRUNCHBASE_officesList_mobilebutton_Offices {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_Offices {

}
/* mobilebutton_People */
#CRUNCHBASE_officesList_mobilebutton_People {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_People {

}
/* mobilebutton_Products */
#CRUNCHBASE_officesList_mobilebutton_Products {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_Products {

}
/* mobilebutton_Competitors */
#CRUNCHBASE_officesList_mobilebutton_Competitors {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_Competitors {

}
/* mobilebutton_Milestones */
#CRUNCHBASE_officesList_mobilebutton_Milestones {

}
.ui-btn.CRUNCHBASE_officesList_mobilebutton_Milestones {

}
/* mobilelabel_officesText */
.CRUNCHBASE_officesList_mobilelabel_officesText {
	font-weight: normal; text-align: center; font-size: 18px;
	margin: 14px 0px 14px 0px;
	word-wrap: break-word;
}
/* mobilelabel_noInformationOffices */
.CRUNCHBASE_officesList_mobilelabel_noInformationOffices {
	font-weight: normal; font-style: italic; text-align: center;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilelist_office */
.ui-page .CRUNCHBASE_officesList_mobilelist_office {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_offices */
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_officesList_mobilelistitem_offices {
	padding: 0px 0px 4px 0px;
	padding-right: 30px; /* consider extra icon */
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_officesList_mobilelistitem_offices span.ui-icon.extra {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_officesList_mobilelistitem_offices[data-icon="false"] span.ui-icon.extra {
	display: none;
}
.ui-mobile-viewport ul[data-role="listview"] li.CRUNCHBASE_officesList_mobilelistitem_offices[data-icon="false"] {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_10 */
.CRUNCHBASE_officesList_mobilelistitembutton_10 {

}
/* mobilelabel_descriptionOffice */
.CRUNCHBASE_officesList_mobilelabel_descriptionOffice {
	font-weight: normal; font-style: italic;
	margin: 12px 0px 12px 12px;
	word-wrap: break-word;
}
/* mobilelabel_city */
.CRUNCHBASE_officesList_mobilelabel_city {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_addressesText */
.CRUNCHBASE_officesList_mobilelabel_addressesText {
	font-weight: normal; font-style: italic;
	margin: 14px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_address1 */
.CRUNCHBASE_officesList_mobilelabel_address1 {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_address2 */
.CRUNCHBASE_officesList_mobilelabel_address2 {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_zipCode */
.CRUNCHBASE_officesList_mobilelabel_zipCode {
	font-weight: normal; font-style: italic;
	margin: 14px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_countryCode */
.CRUNCHBASE_officesList_mobilelabel_countryCode {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 12px;
	word-wrap: break-word;
}
/* mobilelabel_stateCode */
.CRUNCHBASE_officesList_mobilelabel_stateCode {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 10px 12px;
	word-wrap: break-word;
}
/* mobilelabel_latitude */
.CRUNCHBASE_officesList_mobilelabel_latitude {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
}
/* mobilelabel_longitude */
.CRUNCHBASE_officesList_mobilelabel_longitude {
	font-weight: normal; font-style: italic;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
}
/* mobilefooter */
.CRUNCHBASE_officesList_mobilefooter {
	min-height:38px;
}